

*{  margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Monda', sans-serif;
}

body{
    width: 100vw;
/*     height: 100vh;
 */    position: relative;  
 min-height: 100vh;
 
 } 

.main-registro{
    width: 100vw;
   /*  height: 100vh;  */
    background-image: url(../IMAGES/prueba02.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
/*     -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1px);
  filter: blur(1px);  */
 }

.bloque-visual{
    background-color: rgba(240, 255, 255, 0.7);
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: auto;
    border-radius: 40px;
    
   /*  border: 2px solid black; */
    font-family: 'Monda', sans-serif;
    border: none;
    outline: none;
    box-shadow: 0px 2px 5px 1px;
  
 }
.bloque-visual.principal{

    width: 500px;
    height: 300px;

}

#registro label{
    width: 250px;
    text-align: left;
    display: flex;
    margin-left: 30px;
}
#registro div{
    display: flex;
    
}


/* #dnilabel{
    width: 0;
    background-color: black;
} */

#tipodoc{
    justify-content: space-between;
    margin-right: 20px;
}

#tiposdedoc{
    margin-right: 20px;
}
.checkbox {
    display: flex;
    justify-content: center;
}

#recordarme{
    display: flex;
}
#recordarme span{
    text-align: center;
    width: 200px;
}

 .bloque-visual h1, p{
    margin: 5px;
    margin-bottom: 15px;
    font-weight: bold;
    
 }

 input {
    border: none;
/*     border-bottom: 1px black solid; */
    box-shadow: 2px 2px 3px 1px;
    width: 600px;
    display: flex;
    padding: 15px;
    margin-right: 50px;
 }

 #nombre, #apellido, #edad, #email, #password, #psw-repeat, #usuario2, #email2, #email3{
    margin-bottom: 20px;
/*     border-radius: 10px;
 */    width: 65%;
    height: 30px;
    

}
#tiposdedoc, #consulta{
    width: 75px;
    height: 30px;
/*     border-radius: 10px;
 */    border: none;
    outline: none;
    box-shadow: 2px 2px 3px 1px;

    
}

#documento{
    margin-bottom: 20px;
/*     border-radius: 10px;
 */    width: 400px;
    height: 30px;
    margin-right: 30px;
}

label{
    padding-left: 20px;
    font-weight: bold;
    /* display: inline; */
/*     justify-content: left;
 */}


button{
    width: 150px;
    height: 30px;
    border-radius: 10px;
    color: white; 
    font-weight: bold;
    font-size: 18px;
    background-color: #3683b2;
}

.botonmov{
    border: none;
    padding: 10px;
    background-color: rgba(240, 255, 255, 0);
    color: #3683b2;
    font-weight: bold;
    border-bottom: 1px solid #3f5f72 ;
    width: 250px;
    text-align: center;
    display: flex;
    justify-content: center;
    position: relative;
    transition: 0.25s;
}

.botonmov:hover, .boton:focus{
    border-bottom:#3683b2 solid 1px;
    color: #fff;
    box-shadow: inset 250px 0 0 0 #3683b2;
}

.botonmov.active::before{
    content: '';
    width: 2px;
    height: 40px;
    right: -50px;
    position: absolute;
    border-left: 30px solid rgba(240, 255, 255, 0.9);
    border-top: 20px solid rgba(0,0,0,0);
    border-bottom: 20px solid rgba(0,0,0,0);
    outline: 2px 0 2px 0 black;

}

.todosLosBotones{
    background-color: rgba(240, 255, 255, 0.9);
    box-shadow: 0 0 10px 0 black;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 40px 20px;
}

.todosLosBotones span {
    display: flex;
    width: 100%;
    justify-content: center;
    border-bottom: 1px solid #3f5f72;
    padding-bottom: 10px;
}
.aviso-token{
    border: 4px solid #3683b2;
    margin: auto;
    margin-bottom: 10px;
    padding-top: 10px;
    /* width: 500px; */
}

.aviso-token p{
    padding: 2px;
    font-weight: bold;
    margin: auto 20px;
}
#remember{
    width: 5%;
    height: 20px;
    border: none;
    box-shadow: none;
    margin: 5px 5px;
 }
 #recordarme{
    font-size: 20px;
    margin-left: 10px;
 }
#preguntaregistro{
    font-weight: bold;
    
}
#preguntaregistro a, #olvido-contrasenia a, #no-registrado a{
    color:dodgerblue;
    transition: all 0.4s ease-out;


}
#preguntaregistro a:hover, #olvido-contrasenia a:hover, #no-registrado a:hover{
    font-size: 25px;

}




.boton{
    border: none;
    box-shadow: 2px 2px 3px 1px;
    height: 40px;
    margin: 0 20px;
    transition: all 0.4s ease-out;
}

.boton:hover{
    background-color: dodgerblue;
    box-shadow: 0 0 0 5px dodgerblue, 2px 2px 2px 0 gray;
   /*  width: 200px;
    height: 50px; */
}


#usuario{
    margin-bottom: 20px;
/*     border-radius: 10px;
 */    width: 330px;
    height: 30px;
    display: inline;
 }

 #pass-ingreso {
    margin-bottom: 20px;
/*     border-radius: 10px;
 */    width: 300px;
    height: 30px;
    display: inline;
}
#contras{
    display: flex;
    justify-content: center;
    font-size: 15px;
    color:gray;
    margin: 0;
    padding: 0;

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;}


#botones-principales{
    display: flex;
    justify-content: center;
}

#formulario-olvido-contras{
    display: flex;
    flex-direction: column;
align-items: center;  
  
}
#formulario-olvido-contras input{
    height: 40px;
    margin-bottom: 50px;
}


#confirma-correo, #confirma-contacto{
    margin-top: 20px;
}
#correo-enviado, #confirmacion-contacto{
    font-size: 20px; 
    margin-bottom: 40px
}

/*TABLA*/

.cuerpo-de-tabla tr{
    border-bottom: 1px solid #3f5f72;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse; /* evita q las lineas sean dobles */
    border-left: none;
    border-right: none;
}

table{
    border-right: 1px solid #3f5f72;
    border-left: 1px solid #3f5f72;
    margin: 10px;
    width: 700px;

}
#tabla-pesos, #tabla-dolares, #tabla-visa, #tabla-master{
    background-color: rgba(240, 255, 255, 0.7);
/*     width: 800px;
 */    display: none;
        box-shadow: 0 0 10px 0 black;

}
#tabla-pesos{
    display: flex;
}
td{
    padding:  10px;
}

.encabezado{
    padding: 0 10px;
    background-color: #3683b2;
    color: white;
}

.solapa-h{
text-align: center;
    padding: 4px 0;
    background-color: #3f5f72 ;
    color: white;
}

.secciontabla{
    display: flex;
    flex-direction: column;
}

.descripcionTabla{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 10px;
    
}
.saldoCuentas{
    display: flex;
    height: 30px;
    gap: 10px;
    align-items: center;
}
.tipoMoneda{
    background-color: grey;
    border-radius: 10px;
    padding: 6px;
    color: azure;
    font-weight: bold;
    font-size: 12px;
    margin: auto;
}

.saldoCuentas.tarjeta{
display: flex;
flex-direction: column;
}

.saldoCuentas.tarjeta .montoSaldo{
    min-width: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.descripcionSaldo.tarjeta{
    display: flex;
flex-direction: column;
height: 100%;
justify-content: space-between;
gap: 15px;
}


/* HOMEBANKING*/

nav{
    background-color: #3f5f72;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Monda', sans-serif;
}
nav div{
    display: flex;
    align-items: center;
    margin: 0 10px;
}

nav div img{
    width: 40px;
    height: 30px;
}

nav button{
    display: flex;
    justify-content: center;
   align-items: center;
  
}
.salir{
    box-shadow: none;
}
nav li {
    display: flex;
    list-style-type: none;
    margin: 0 40px;
    font-weight: bold;
}
nav a{
    text-decoration: none;
    color: black;
}
nav a:hover{
    transition: all 0.2s ease-out;
    color: azure;
}

.bienvenido{
    display: flex;
    justify-content: flex-start;
    font-weight: bold;
    margin: 0 20px;
}

/* formulario contacto*/

#comentarios{
    padding: 10px 15px;
}

#email-contacto{
    display: flex;
    justify-content: center;
}

#email-contacto label{
 margin: 0 10px;  
 
}
#formulario-contacto{
    font-weight: bold;

}
#consulta{
    width: 150px;
}


#mis-productos{
    background-color: aliceblue;
    width: 300px;
   
}

#mis-productos ul{
    list-style-type: none;
    
}

#mis-productos ul li{
    border-bottom: 1px solid #3683b2;
    padding: 10px;}


/*centro de la pagina*/

#global{
   width: 100%;
   display: flex;
}
#parcial{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 300px;
    gap: 200px;
}

.menu-desplegable{
    display: flex;
}

.tablas-desplegables{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    margin: 50px auto;
    gap: 40px;
    padding-top: 150px;
    min-height: 700px;
}

#caja-pesos, #caja-dolares, #tarjeta-visa, #tarjeta-master{
    height: 50px;
    display: flex;
    align-items: center;
    font-size: 15px;
}

footer{
    background-color: #3f5f72;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Monda', sans-serif;
    padding: 0 20px;
}

footer img{    
    width: 40px;
    height: 40px;
    
}

.iconos-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    height: 100%;
    margin: 0;
    padding: 0;
    gap: 15px;
    
}

/*SLIDER*/

.slider-container{
/* background-color: azure;
 */width: 800px;
height: 350px;
margin: auto;
margin-bottom: 50px;
}

.slider{
    list-style-type: none;
    position: relative;
    padding: 0;
    height: 300px;
    box-shadow: 0 0 5px 0 #444;
    }

.diapos {
    display: none;
}
.diapos img{
    width: 100%;
    height: 300px;
    object-fit: cover;
/*     filter: blur(px);
 */}

 

.siguiente, .previo{
cursor: pointer; /* manito */
position: absolute;
top: 50%;
width: auto;
margin-top: -22px;
padding: 16px;
color: grey;
font-weight: bold;
font-size: 20px;
transition: 0.6s ease;
user-select: none;
text-decoration: none;


}

.siguiente{
    right: 0;
    border-radius: 3px 0 0 3px;

}

.previo:hover, .siguiente:hover{
    background-color: rgba(114, 113, 113, 0.6);
    color:azure;
}

.textoImg{
    color: azure;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute; 
    bottom: 8px;
    width: 100%;
    text-align: center;
    background-color: rgba(114, 113, 113, 0.4);

}

.textoImg h3{
    font-weight: bold;
 }
.puntitos{
    text-align: center;
/*     background-color: rgba(240, 255, 255, 0.4);
 */
}
.punto{
cursor: pointer;
height: 15px;
width: 15px;
margin: 0 2px;
background-color: grey;
border-radius: 50%;
display: inline-block;
transition: background-color 0.6s ease;
/* border: 1px solid azure;
 */}

.activo, .punto:hover{
    background-color: azure;
    
}

.aparecer{
    animation-name: aparecer;
    animation-duration: 1.5s;
}

@keyframes aparecer { /* animacion */
    from{opacity: 0.4;}
    to{opacity: 1;}
}





























